:root {
  --pri: #1687a7;
  --sec: #d3e0ea;
  --tri: #e7e7e7;
}

html,
* {
  box-sizing: border-box;
}
body {
  background-color: var(--sec);
  height: 100vh;
  padding: 10%;
  text-align: center;
}

.container {
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 0;
}
.login_btn {
  font-size: 10rem;
}

.navbar {
  background-color: var(--pri);
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar li {
  justify-content: left;
  align-content: space-between;
  margin-right: 5rem;
}

.button-bar {
  background-color: var(--tri);
  padding: 1rem;
  border: none;
  outline: none;
}
/* end of the nav bar */

/* content center */
.content {
  background-color: var(--tri);
  text-align: center;
}

.info {
  margin-top: 2rem;
}
/* footer  */
footer {
  background-color: var(--pri);
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 2rem;
  position: relative;
  bottom: 0;
}
