:root {
  --pri: #1687a7;
  --sec: #d3e0ea;
  --tri: #e7e7e7;
}

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--sec);
  height: 100vh;
  padding: 0;
  text-align: center;
}

.container {
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 0;
}
.login_btn {
  font-size: rem;
}

.navbar {
  background-color: var(--pri);
  color: white;
  height: 8rem;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
  align-self: center;
}

.button-bar {
  background-color: var(--tri);
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  outline: none;
  margin-right: 2rem;
}

.logo {
  padding-top: 0.5rem;
  min-width: 50%;
  max-width: 90%;
}
/* end of the nav bar */

/* content center */
.content {
  background-color: var(--tri);
  text-align: center;
}
.content-box {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 3rem;
}

.video {
  flex: 2 50%;
}
.title {
  display: block;
  margin-top: 2rem;
}
.title {
  flex: 2;
}
/* footer  */
footer {
  background-color: var(--pri);
  margin-top: 5rem;
  margin-bottom: 0;
  padding: 2rem;
  position: relative;
  bottom: 0;
}
