@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

:root {
  --pri: #1687a7;
  --sec: #211277;
  --tri: #e7e7e7;
  --log: #dbe1e6;
  --sh: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--pri);
  height: 100vh;
  padding: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.container {
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 0;
}
.login_btn {
  font-size: rem;
}

.navbar {
  background-color: var(--log);
  color: white;
  height: 8rem;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
  align-self: center;
}
.navform {
  display: flex;
  flex-direction: row;
}

.navform input {
  padding: 0.5rem;
  margin: 0.5rem;
}
.button-bar {
  background-color: var(--tri);
  font-size: 0.8rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  margin-right: 2rem;
  box-shadow: var(--sh);
}

.logo {
  padding-top: 0.5rem;
  min-width: 70%;
  max-width: 90%;
}
/* end of the nav bar */

/* content center */
.content {
  background-color: var(--tri);
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
}
.content-box {
  display: flex;
  flex-direction: row;
}
.content-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
}

.video {
  flex: 2 50%;
}
.title {
  display: block;
  margin-top: 2rem;
}
.title {
  flex: 2;
}

/* Insert - video layout */
/* form */
.insert-form {
  margin: 2rem;
  color: black;
  text-align: center;
}

.input-insert {
  padding: 0.5rem;
  margin: 1rem;
}
.insert-btn {
  padding: 1rem;
  font-size: 2rem;
}
/* footer  */
footer {
  background-color: var(--pri);
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 2rem;
  position: relative;
  bottom: 0;
}

.yt_frame {
  margin: 15px;
  margin-left: 15px;
}
.type_course {
  background-color: var(--tri);
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card {
  text-align: center;
  background-color: var(--pri);
  max-width: 400px;
  box-shadow: var(--sh);
  margin: 1rem;
}

h2 {
  color: var(--sec);
  font-weight: 600;
}
@media (max-width: 800px) {
  .navbar {
    height: 5rem;
  }
}
